.contacts-page {
  padding: 50px 0;
  overflow: hidden;
}

.contacts-main__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #4E2417;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .contacts-main__title {
    font-size: 24px;
  }
}

.contacts-main__title:not(:first-child) {
  margin-top: 30px;
}

.contacts-main__title:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-main__list {
  padding: 0;
  list-style: none;
}

.contacts-main__list li {
  padding: 0;
  margin: 0;
}

.contacts-main__list li:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-main__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  color: #4E2417;
}

.contacts-main__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-main__item-icon:not(:last-child) {
  margin-right: 14px;
}

.contacts-main__item-icon svg {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  fill: currentColor;
}

.contacts-main__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.contacts-main__item-info span:not(:first-child) {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
  margin-top: 3px;
}

.contacts-main__item-info--dotted span:first-child {
  padding-bottom: 1px;
  border-bottom: 1px dashed #4E2417;
}

.contacts-main__item:hover .contacts-main__item-info--dotted span:first-child {
  border-color: transparent;
}

.contacts-more {
  padding: 50px;
  border-radius: 8px;
  background: #F9F7F1;
  color: #4E2417;
}

@media screen and (max-width: 767.98px) {
  .contacts-more {
    padding: 24px 16px;
  }
}

.contacts-more__list {
  padding: 0;
  list-style: none;
}

.contacts-more__list li {
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .contacts-more__list li {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts-more__list li:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(78, 36, 23, 0.2);
}

.contacts-more__list li:not(:first-child) {
  padding-top: 30px;
}

.contacts-more__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .contacts-more__item-title {
    font-size: 20px;
    text-align: center;
  }
}

.contacts-more__item-title:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .contacts-more__item-title:not(:last-child) {
    margin-bottom: 24px;
  }
}

.contacts-more__item .fct-i-link > svg {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
}

.contacts-requisites {
  background: #F9F7F1;
  border-radius: 8px;
  padding: 40px;
  color: #4E2417;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media screen and (max-width: 767.98px) {
  .contacts-requisites {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

.contacts-requisites:not(:first-child) {
  margin-top: 50px;
}

.contacts-requisites__logo {
  margin: 0 auto;
}

.contacts-requisites__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .contacts-requisites__title {
    font-size: 24px;
  }
}

.contacts-requisites__title:not(:last-child) {
  margin-bottom: 16px;
}

.contacts-requisites__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
