.catalog-slider {
  position: relative;

  .swiper {
    &-slide {
      @include media-md(down) {
        width: 100%;
        max-width: 65vw;
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;
    /*padding-bottom: 30%;
    @include media-lg(down) {
      padding-bottom: 50%;
    }
    @include media-md(down) {
      padding-bottom: 132%;
    }*/

    img {
      /*position: absolute;*/
      width: 100%;
      /*height: 100%;
      object-fit: cover;
      object-position: top;*/
    }
  }

  &__holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    text-transform: uppercase;
    color: $white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: $font-size-base * 6.25;
      line-height: 1.34;
      @include media-md(down) {
        font-size: $font-size-base * 3.375;
      }
    }

    &-subtitle {
      font-size: $font-size-base * 3.125;
      line-height: 1.32;
      @include media-md(down) {
        font-size: $font-size-base * 1.625;
      }
    }
  }
}