.add-addr-form__form-and-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-addr-form__form {
  padding: 40px 25px 20px;
  background-color: #f8f8f8;
  width: 100%;
}

.add-addr-form .input-group {
  width: 100%;
}

.add-addr-form .checkbox-control input[type=checkbox] + label {
  color: #1b2c5d;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.add-addr-form__map-message {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 10px 9px;
  background-color: #ff7f40;
}

.add-addr-form__map-wrap {
  position: relative;
  min-height: 357px;
  width: 100%;
}

.add-addr-form__map-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.add-addr-form__two-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-addr-form__input-wrap:not(:last-child) {
  margin-right: 60px;
}

@media (min-width: 992px) {
  .pop-addr__title-content {
    margin-bottom: 35px !important;
  }
}

@media (min-width: 1200px) {
  .pop-addr {
    padding: 75px 80px 50px !important;
    width: 90%;
  }
  .pop-addr__title-content {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 60px !important;
  }
  .add-addr-form__form-and-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .add-addr-form__form {
    padding: 50px 88px 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .add-addr-form__map-wrap {
    /*height: 100%;*/
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1200px) and (min-width: 1920px) {
  .pop-addr {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .add-addr-form__input-wrap:not(:last-child) {
    margin-right: 135px;
  }
}

.address-suggest {
  position: absolute;
  width: 100%;
  top: 5px;
  z-index: 1;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0 5px rgba(89, 50, 38, 0.1);
          box-shadow: 0px 0 5px rgba(89, 50, 38, 0.1);
}

.address-suggest__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  line-height: 1.4;
  padding: 8px 10px;
}

.address-list {
  position: relative;
}

.address-suggest__item span {
  cursor: pointer;
}

.address-suggest__item span:hover {
  background-color: #F9F7F1;
}

.address-suggest__item a {
  color: #999999;
}

.address-suggest__item:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}

.alert {
  padding: 15px;
  border: none;
  border-radius: 1px;
  font-size: 14px;
}

.alert:not(:last-child) {
  margin-bottom: 20px;
}

.alert-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-warning {
  border-color: #faebcc;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.alert-danger {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.alert-text-warning, .alert-text-success, .alert-text-error {
  display: none;
}

.alert-warning .alert-text-warning {
  display: initial;
}

.alert-success .alert-text-success {
  display: initial;
}

.alert-danger .alert-text-error {
  display: initial;
}
