.doc-list {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  padding-bottom: 30px;
}

.doc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  padding: 0;
  font-size: 18px;
}

@media screen and (max-width: 1199.98px) {
  .doc-link {
    font-size: 16px;
  }
}

.doc-link > svg {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.doc-link:hover {
  text-decoration: underline;
}
