.main-videos {
  overflow: hidden;

  &__item {
    height: 100%;

    &-video {
      display: block;
      text-decoration: none;
      width: 100%;
      padding-bottom: 56.4%;
      position: relative;
      overflow: hidden;
      min-height: 100%;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0.05deg, #000000 -29.43%, rgba(0, 0, 0, 0) 99.95%);
        z-index: 2;
        pointer-events: none;
      }

      .video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-position: center;
        background-size: cover;
      }

      .title {
        font-weight: 400;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: rem(0 34px);
        margin: (24px 0);
        font-size: $font-size-base * 1.25;
        line-height: 1.35;
        text-transform: uppercase;
        color: $white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        z-index: 3;
        pointer-events: none;
        @include media-md(down) {
          font-size: rem(16px);
          padding: rem(0 28px);
          margin: (18px 0);
        }
      }
    }
  }

  .show-more {
    font-size: rem(18px);
    @include media-md(down) {
      font-size: rem(14px);
    }
  }
}